<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Image Search!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" >
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Image Search</h1>
      </div>

      <!-- panel -->
      <div class="card">
        <div class="card-body">
          <!-- header area -->
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="search-input">Find a image:</label>
                  <input type="text" class="form-control" id="search-input" aria-describedby="search" placeholder="Type a search image">
                  <small id="emailHelp" class="form-text text-muted">Your make search again and again!</small>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            
            <div class="col">
              <form>
                <div class="form-group">
                  <label>Recent searchs: </label>
                  
                </div>
              </form>
            </div>
          </div>
          
          <!-- result -->
          <!-- render objects -->
          <div class="row row-eq-height align-items-start" id="results"></div>
        </div>
      </div>
    
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loading" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img src="https://cdn.glitch.com/aec865cf-c925-4690-b266-efd832318f9f%2Floading.gif?1518873003646" />
        </div>
      </div>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
