/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

.modal.show{
  display: flex;
  align-items: center;
  justify-content:center;
}

.modal-content{
  width: auto !important;
  background: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content img{
  width: 193px;
  height: 193px;
}

.modal-content h1{
  color: white !important;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.modal-content .close{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -25px;
}